<nav id="nav">
	<div class="container">
		<a class="home" href="/">
			<div class="logo">
				<div class="block-1"></div>
				<div class="block-2"></div>
				<div class="block-3"></div>
				<div class="block-4"></div>
				<div class="block-5"></div>
				<div class="block-6"></div>
				<div class="block-7"></div>
			</div>
			<span class="name">
				<span class="fname">Wivorn</span>
				<span class="lname">Chowattanakul</span>
			</span>
		</a>
		<div class="links">
			<a href="#about" {{ if .IsHome }}class="active"{{ end }}>About</a>
			<a href="#work">Work</a>
			<a href="#clients">Clients</a>
			<a href="#contact">Contact</a>
			<a href="/blog" {{ if eq "blog" .Section }}class="active"{{ end }}>Blog</a>
		</div>
		<div class="menu-button">
			<span class="menu-lines"></span>
		</div>
	</div>
</nav>
