<div class="profile">
	<div class="image">
		<img src="/profile_grey.png" alt="Profile Image">
	</div>
	<div class="profile-content">
		<div class="content">Personal blog of <a href="/">Wivorn Chowattanakul</a></div>
		<div class="social">
			<a href="https://www.linkedin.com/in/wivornc/">Linkedin</a>
			<a href="https://github.com/wivorn">Github</a>
			<a href="https://twitter.com/wchowat">Twitter</a>
			<a href="https://dribbble.com/nroviw">Dribbble</a>
			<a href="mailto:wivorn.c@gmail.com">E-mail</a>
		</div>
	</div>
</div>
