{{ define "main" }}

<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="post-meta">
			<time class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}</time>
			<span class="read-time">{{ .ReadingTime }} min read</span>
		</div>
  </header>
  <div class="post-content">{{ .Content }}</div>
  <footer class="post-footer">
		{{ if .Params.tags }}
			<ul class="post-tags">
				{{ range .Params.tags }}
				<li><a href="{{$.Site.BaseURL}}tags/{{ . | urlize }}/">{{ . }}</a></li>
				{{ end }}
			</ul>
		{{ end }}
		{{ partial "profile" }}
		<nav class="post-others">
			<div class="prev-article">
				{{ with .PrevInSection }}
					<a rel="prev" href="{{ .Permalink }}">{{ .Title }}</a>
				{{ end }}
			</div>
			<div class="next-article">
			{{ with .NextInSection }}
				<a rel="next" href="{{ .Permalink }}">{{ .Title }}</a>
			{{ end }}
			</div>
		</nav>
  </footer>
  <!-- Comments area start -->
  {{ if not (eq .Params.comments false) }}
  {{ if .Site.DisqusShortname }}
  <div id="disqus_thread"></div>
  <script>
    var disqus_shortname = '{{ .Site.DisqusShortname }}';
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
  <!-- Comments area end -->
  {{ end }}
  {{ end }}
</article>

{{ end }}

{{ define "script" }}
<script>
	var nav = document.getElementById('nav');
	var lastScrollTop;

	document.getElementsByClassName('menu-button')[0].onclick = function () {
		if (nav.classList.contains('open')) {
			nav.classList.remove('open');
		} else {
			nav.classList.add('open');
		}
	}

	function bottomNavScroll() {
		var currentScrollTop = window.pageYOffset || document.documentElement.scrollTop;

		if (currentScrollTop > lastScrollTop) {
			// downscroll
			document.getElementsByClassName('links')[0].classList.add('hide');
		} else {
			// upscroll
			document.getElementsByClassName('links')[0].classList.remove('hide');
		}

		lastScrollTop = currentScrollTop <= 0 ? 0 : currentScrollTop; // For Mobile or negative scrolling
	}

	lastScrollTop = window.pageYOffset || document.documentElement.scrollTop;
	window.addEventListener('scroll', bottomNavScroll);
</script>
{{ end }}
